.center-text{
    text-align: center;
}
/*FORM*/
.contact-form{
    color: white;
    font-size: 25px;
}
.textarea{
    margin-left: auto;
    padding: 10px;
}
#submit-btn{
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    margin: auto;
    border-radius: 10px;
    border: 5px #50c9f2 solid;
    background-color: #50c9f2;
}

/*FOOTER SOCIAL MEDIA BUTTONS*/

.icons-sm{
    font-size: 25px;
    padding: 12px;
    text-align: center;
    background-color:  white;
    color: #50caf2;
    border-radius: 5px;
    border: 1px solid white;
    width: 30px;
    height: 30px;
}
.medium{
    width: 30px;
}
footer .icons-sm:hover, .medium:hover{
    background-color: black;
}
footer div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer a{
    margin: 5px;
    display: inline-block;
    max-height: 50px;
    max-width: 50px;

}
