.center-text{
    text-align: center;
}

/*social media */
#index .social-box{
  display:inline-block;
}

#index .div-button{
  margin-left: 20px;
  margin-right: 20px;
}

#index .btn {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;

}

#index .btn-fb:hover {
    background-color: #3d5b99;
    color: white;
}

#index .btn-tw:hover {
    background-color: #00aced;
    color: white;
}

#index .btn-li:hover {
    background-color: #0073a4;
    color: white;
}

#index .btn-gplus:hover {
    background-color: #e25714;
    color: white;
}
#index .btn-git:hover {
    background-color: #000;.
    color: white;
}
#index .btn-email:hover {
    background-color: #bb0000;
    color: white;
}
#index .btn-ins:hover {
    background-color:  #e95950;
    color: white;
}

/*FOOTER SOCIAL MEDIA BUTTONS*/
#index .fb-ic {
    background-color: #3d5b99;
    color: white;
    padding: 4px;
}

#index .tw-ic {
    background-color: #00aced;
    color: white;
    padding: 4px;
}

#index .li-ic {
    background-color: #0073a4;
    color: white;
    padding: 4px;
}

#index .gplus-ic {
    background-color: #e25714;
    color: white;
    padding: 4px;
}
#index .git-ic {
    background-color: #000;.
    color: white;
    padding: 4px;
}
#index .ins-ic {
    background-color:  #e95950;
    color: white;
    padding: 4px;
}

#index .icons-sm{
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    
}
