.center-text{
    text-align: center;
}
/*FORM*/
.contact-form{
    color: white;
    font-size: 25px;
}
.textarea{
    margin-left: auto;
    padding: 10px;
}
#submit-btn{
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    margin: auto;
    border-radius: 10px;
    border: 5px #50c9f2 solid;
    background-color: #50c9f2;
}

/*social media */
#index .social-box{
  display:inline-block;
}
#index .box-green h3{
    color: white;
    font-size: 35px;
    text-align: center;
}

#index .div-button{
  margin-left: 20px;
  margin-right: 20px;
}

/*FOOTER SOCIAL MEDIA BUTTONS*/

#index .icons-sm{
    padding: 12px 15px 15px;
    background-color:  white;
    color: #50caf2;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid white;
}
#index .medium{
    background-color: white;
    color: white;
    padding: 12px;
    margin-left: 10px;
    border-radius: 5px;
    width: 55px;
    height: 55px;
    border: 1px solid white;
}
#index footer .icons-sm:hover, #index .medium:hover{
    background-color: black;
}
