body{
	background: #105E4E;
	font-size: 20px;
	margin: 30px;
	color: white;
	font-family: 'Fira Sans', sans-serif;
}
header{
	font-family: 'Roboto', sans-serif;
}
footer{
	padding: 20px 5px;
	background-color: rgba(30,84,76,0.8);
	margin: 25px;
  	clear: both;
	color: white;
	font-size: 20px;
	text-align: center;
	margin: 0;
}
footer h6{
	font-size: 18px;
}
#index h1{
	font-size: 60px;
	color: #E0870B;
	text-align: center;
	font-family: "Anton";
}

#index h2{
	font-size: 45px;
	color: #50c9f2;
	font-family: "Anton";
}

#index h3{
  font-size: 38px;
	color: #1e544c;
	font-family: "Anton";
}

#index h4{
  font-size: 25px;
	color: #1e544c;
	font-family: "Anton";
}
#index p{
	font-size: 20px;
	color: white;
	font-family: 'Fira Sans', sans-serif;
}
img{
    width: 100%;
	  padding: 10px;
}

/*NAVBAR*/
.body-img{
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/0b/e2/27/0be227030cfeefd5e1dfa4e8b1d01fad.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	padding-top: 90px;
	padding-bottom: 90px;
	line-height: 1.3; 
}

#index nav .nav a, .navbar-attr{
	color: #e5a632;
	background-color: rgba(30,84,76,0.8);
	font-size: 25px;
}
#index .name{
	font-size: 35px;
	color: #50c9f2;
}
.active{
	background-color: #e5a632 !important;
	color: white !important;
}
/*FOOTER*/
.style-ft{
    margin: 15px; 
}
/*BODY APPLIED TO ALL PAGES*/
.row{
	clear: both;
}

.col{
	margin: 15px;
	margin-left: 35px;
	width: 25%;
}
.box-green{
	padding: 10px 5px;
	background-color: rgba(30,84,76,0.8);
	margin: 25px;
}
.box-black{
	padding: 15px 20px;
	background-color: rgba(44,44,44,0.95);
	margin: 25px;
}
/*HOME PAGE*/
.portfolio-home img{
	height: 300px;
}
.portfolio-home h2, .education h2, .program-lang h2{
	margin-left: 15px;
}
.p-format{
	margin-left: 30px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
}
#index .p-format ul{
	margin: 30px;
	padding: 10px;
}
.p-format li{
	color: rgb(30,84,76);
	text-align: center;
	font-size: 20px;
	list-style: none;
	margin: 10px 10px;
	background-color: white;
	border-radius: 15px;
	padding: 10px;
	width: 115px;
}
#hover a{
    color: white;
	font-family: 'Anton';
	font-size: 30px;
	margin-left: 15px;
}
#hover a:hover{
    color: #E0870B;
    text-decoration: none; 
}
/*RESUME PAGE*/
#index .box-black ul li{
	color: currentColor;
	font-size: inherit;
	font-family: 'Fira Sans', sans-serif;
	color: white;
	font-size: 20px;
}
#index .box-black ul p{
	color: white;
	font-size: 23px; 
}
.tech-skill li{
	display: inline-flex;
	margin: 10px;
}
.work-experince ul{
	text-indent: -10px; 
  padding-left: 20px;
}
.work-experince li{
  list-style: inherit !important;
}
/*Portfolio Page*/
.portfolio-page img{
	height: 300px;
	width: 100%;
}
.tag-description{
	font-size: 16px !important;
	padding: 0;
	margin-left: 10px;
	font-family: 'Roboto Condensed', sans-serif !important;
}
.tag{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-left: 10px;
	font-size: 0;
}
#index .tag li{
	background-color: white;
	color: rgb(30,84,76) !important;
	font-size: 20px !important;
	font-family: 'Roboto Condensed', sans-serif !important;
	padding: 10px 15px;
	list-style: none;
	border-radius: 8px;
	margin-left: 5px !important;
	margin-bottom: 5px !important;
}

/*SOCIAL MEDIA SECTION ARE IN CONTACT.CSS*/

