.contact-info, textarea, #submit-form{
    margin: 10px 25%;
}
label{
    padding: 
}

.textarea{
    margin-left: auto;
    padding: 10px;

    
}
textarea{
    height: 200px;
    width: 400px;
    border-radius: 10px;
    padding-left: 20px;
    border: 3px solid #E0870B;
    font-size: 20px;
}
#submit-btn{
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 5px #50c9f2 solid;
    background-color: #50c9f2;
}