
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Titan One' rel='stylesheet);
@import url(https://fonts.googleapis.com/css?family=Unlock' rel='stylesheet);
@import url(https://fonts.googleapis.com/css?family=Antic' rel='stylesheet);
@import url(https://fonts.googleapis.com/css?family=Marko One' rel='stylesheet);
@import url('https://fonts.googleapis.com/css?family=Anton');


body{
	background: #105E4E;
	font-size: 20px;
	margin: 30px;
	color: white;
	font-family: "Titan";

}

.body-img{
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/0b/e2/27/0be227030cfeefd5e1dfa4e8b1d01fad.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	padding-top: 90px;
	padding-bottom: 90px;
	line-height: 1.3; 
}
#index nav .nav a, .navbar-attr{
	color: #e5a632;
	background-color: rgba(0,94,78,0.9);
	font-size: 25px;
}
#index .name{
	font-size: 30px;
}
.box-green{
	padding: 10px 5px;
	background-color: rgba(0,94,78,0.9);
	margin: 25px;
	border-width: 5px;
	border-style: solid;
}

.box-black{
	padding: 10px 5px;
	background-color: rgba(44,44,44,0.95);
	margin: 25px;
  border-color: #E0870B;
	border-width: 5px;
	border-style: solid;
}
footer{
	padding: 20px 5px;
	background-color: rgba(224,135,11,0.9);
	margin: 25px;
  clear: both;
	color: white;
	font-size: 20px;
  text-align: center;
}

#index h1{
	font-size: 60px;
	color: #E0870B;
	text-align: center;
	font-family: "Anton";
}

#index h2{
	font-size: 45px;
	color: rgba(96,100,105);
	font-family: "Anton";
}

#index h3{
  font-size: 40px;
	color: #450400;
	font-family: "Anton";
}

#index h4{
  font-size: 30px;
	color: #105E4E;
	font-family: "Anton";
}
#index p{
	font-size: 20px;
	color: white;
	font-family: "Anton";
}

.row{
	clear: both;
}

.col{
	float: left;
	background: #E0870B;
	margin: 3%;
	width: 25%;

}
img{
    width: 100%;
    height: 100%;
}

.style-ft{
    margin: 15px;
    
}
#hover a{
    color: white;
}
#hover a:hover{
    color: #E0870B;
    text-decoration: none;
    
}



/*SOCIAL MEDIA SECTION*/

